body {
  font-family: futura, sans-serif;
}
#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid black;
  background-color: #F0E7D1;
  box-sizing: border-box;

}
#confidential, #top-secret{
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid black;
  background-color: white;
  color: red;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  text-transform: capitalize;
  box-shadow: 1px 1px 10px black;
}
#confidential {
  transform: rotate(-15deg);
  margin-bottom: 20px;
  margin-left: 20px;
}
#top-secret {
  transform: rotate(10deg);
  margin-left: 200px;
}
.blurred {
  filter: blur(3px);
}
